@media (orientation: portrait) {
  #containerMain {
    height: 100%;
    background-color: pink;
    position: relative;
  }

  #leftBox {
    padding-top: 4vw;
    height: 26vw;

    font-size: 4.75vw;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #rightBox {
    margin-top: 4vw;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #circle {
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logo {
    width: 60vw;
  }

  #footer {
    position: absolute;
    bottom: 0vw;

    padding-top: 1.8vw;
    padding-bottom: 1.8vw;

    background-color: #ff9e4f;

    font-size: 5vw;
    text-align: center;
  }
}